<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app" v-cloak>
        <div class="products-wrapper">
            <product 
            v-for="(product, index) in products" 
            :name="product.name" 
            :price="product.price" 
            :index="index"
            @add="addnewitem"
            ></product>
        </div>

        <div class="cart-wrapper">
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="cart in carts">
                    <td>{{ cart.name }}</td>
                    <td>{{ cart.quantity }}</td>
                    <td>{{ cart.price }}$</td>
                    <td>{{ cart.price * cart.quantity }}$</td>
                    <td><button @click="deleteitem(cart)">Delete</button></td>
                </tr>

                <tr v-if="carts.length != 0">
                    <th colspan="3">Total</th>
                    <th>{{ cartTotal }}$</th>
                </tr>
            </table>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>